<!--
exemple de lancement: 
roslaunch main.launch method:='sim'
-->


<launch>  
	<!-- <arg name='BR' default="None" /> -->

	<!-- <rosparam param="BR" subst_value="True">$(arg BR)</rosparam> -->

	<!-- Disjonction de cas -->

	<!-- <group if="$(eval arg('BR') != 'None')"> La carte Base Roulante est presente -->
		<!-- on est sur le vrai robot -->
		<node pkg="rosserial_python" type="serial_node.py" name="SerialNodeBR" output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
		</node>
	<!-- </group> -->


	<!-- wiimote node -->
	<node name="WiimoteNode" pkg="control"  type="wiimote_node.py" output="screen" cwd="node" required="true"/>
	
</launch>
